.banner {
    background-image: url("./Assets/bg-gradient.png");
    background-position: 0 -250px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

body {
    font-family: 'Roboto', sans-serif;
}